.head-scroll{
    box-sizing: content-box;
    width: 1133px;
    padding-right: 17px;
}
.fw-bold {
    padding: 0;
}
tbody>tr:last-child{
    border-bottom: 1px solid #dee2e6 ;
}
.thead{
    width: 100%;
    display: table;
}
.tbody{
    overflow-y: auto;
    display: block;
    width: 100%;
    height: 182px;
}

.tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.w-s{
    width: 124px;
    vertical-align: middle;
}
.w-17{
    width: 17px;
}
@media (max-width: 1399px) {
    .w-s{
        width: 90px;
    }
}
@media (max-width: 1199px) {
    .w-s{
        width: 70px;
    }
}
@media (max-width: 999px) {
    .w-17{
        width: 0;
    }
}