/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    color: #fff;
    background-color: #16365C;
    padding: 20px;
    border-bottom: 1px solid #999;
    overflow: auto;
  }

  .content {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    background: #fff;
    padding: 20px;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(36% - 30px);
    top: calc(100vh - 85vh - 33px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999999;
    font-size: 20px;
  }

  .table-content {
      display: flex;
     margin-top: 40px;
     justify-content: center;
  }

  .text-left {
      text-align: left;
  }

  .fs-18 {
      font-size: 18px;
  }

  .order-type {
    font-size: 20px;
    text-transform: uppercase;
  }

  .w-150 {
      width: 150px;
  }

  .w-90 {
      width: 90px;
  }

  .h-100 {
      height: 100px;
  }