.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.site-header .header-main .site-brand {
    min-height: 5rem;
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.site-header .header-main {
    margin-top: -2rem;
}

.site-header .header-top .header-top-nav .nav-item .nav-link .count {
    font-size: 0.625rem;
    background-color: #F08122;
    padding: 0 0.25rem;
    border-radius: 2rem;
    color: #fff;
    margin-left: -0.4rem;
    line-height: 1;
}

.nav-link {
    color: #16365C !important;
}

.site-header .header-main .site-brand {
    min-height: 5rem;
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-header .header-main .header-nav {
    background-color: #16365C;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    border-top-left-radius: 0.5rem;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.site-header .header-main .header-nav:before {
    content: '';
    width: calc(100vw - 1608px);
    height: 100%;
    background-color: #16365C;
    position: absolute;
    left: 100%;
    bottom: 0;
}

.site-header .header-main .header-nav .nav-item:first-child .nav-link {
    border-top-left-radius: 0.5rem;
}

.site-header .header-main .header-nav .nav-item .nav-link.active {
    color: #2F80ED;
    background-color: #fff;
}

.site-header .header-main .header-nav .nav-item .nav-link {
    padding: 0.5rem 1rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #16365C;
    text-decoration: none;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.color-not-active {
    color: #fff !important;
}

.pl-0 {
    padding-left: 0 !important;
}
